* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#canvas {
    background: linear-gradient(
        90deg,
        oklch(70% 0.4 235),
        60%,
        oklch(90% 0.2 200)
    );
    position: absolute;
    top: 0;
    left: 0;
}
